@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --primary: #161111;
    --secondary: gray; */
    --primary: #020102;
    --secondary: #241b35;
    --pink: #cb80ff;
}

* {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Manrope", sans-serif;
}

@media screen and (min-width: 480px) {
    .showcase:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
}

.logo {
    filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(168deg)
        brightness(102%) contrast(105%);
}

/*Fade in*/

.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}

.drop-in-3 {
    animation: drop-in 1400ms ease 600ms backwards;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

/* Img card hover effect */
.card {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

#hovers:hover > .hover::after {
    opacity: 1;
}

.hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.hover:hover::before {
    opacity: 1;
}

.hover::before,
.hover::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.hover::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.hover::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.hover > .hover-content {
    background-color: black;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
